<h1><font color='#004b87'> Question 1</font></h1>
Consider the following Python module:

In [ ]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

After importing the module into the interpreter, you execute:
<p> >>> b() </p>
<p> >>> b() </p>
<p> >>> b() </p>
<p> >>> a </p>
?

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [ ]:
b()
b()
b()
a

6

<h1><font color='#004b87'> Explanation</font></h1>

### Initial Setup:
- The variable a is initialized to 0 in the global scope.
### First Call to b():
- Inside b(), a is declared with global scope, so any modification to a inside b() affects the global a.
- The function c() is called with the current value of a, which is 0. c(0) returns 0 + 2 = 2 and a is updated to 2.
### Second Call to b():
- b() is called again, and c() is invoked with the current value of a, which is now 2.
- c(2) returns 2 + 2 = 4.
- a is updated to 4.
### Third Call to b():
- b() is called again, and c() is invoked with the current value of a, which is now 4.
- c(4) returns 4 + 2 = 6.
- a is updated to 6.
### Final Expression a:
When a is evaluated its value is now 6.

<h1><font color='#004b87'> Question 2</font></h1>
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

<p>>>> fileLength('midterm.py')</p>
284

```python
>>> fileLength('idterm.py')
    Traceback (most recent call last):
    File "<pyshell#34>", line 1, in <module>
    fileLength('idterm.py')
    File "/Users/me/midterm.py", line 3, in fileLength
    infile = open(filename)
    FileNotFoundError: [Errno 2] No such file or directory:
    'idterm.py'
```

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

```python
>>> fileLength('midterm.py')
58
```

```python
>>> fileLength('idterm.py')
File idterm.py not found.
```

In [13]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")

file_length("midterm.py")
file_length("idterm.py")

File midterm.py not found.
File idterm.py not found.


<h1><font color='#004b87'> Question 3</font></h1>
Write a class named Marsupial that can be used as shown below:

```python
>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
```


Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and
c. overloads the __str__ operator so it behaves as shown below.

```python
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
```

```python
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)
```

In [ ]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [ ]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [ ]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [ ]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [ ]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

<h1><font color='#004b87'> Question 4</font></h1>

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

$x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛,
      3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
    }$


Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

```python
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1
```

In [ ]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [ ]:
collatz(1)

1

In [ ]:
collatz(10)

10
5
16
8
4
2
1

<h1><font color='#004b87'> Question 5</font></h1>

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

```python
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001
```

In [ ]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [ ]:
binary(0)

0

In [ ]:
binary(1)

1

In [ ]:
binary(3)

11

In [ ]:
binary(9)

1001

<h1><font color='#004b87'> Question 6</font></h1>

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

```python
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles
```

In [ ]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.indent_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.indent_level = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(" " * self.indent_level + data.strip())

In [ ]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

<h1><font color='#004b87'> Question 7</font></h1>

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

```python
>>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
```

In [7]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:
        return
    print(" " * indent + url)
    
    try:
        response = requests.get(url)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
    except requests.exceptions.RequestException as e:
        print(f"Error accessing {url}: {e}")
        return

    if depth > 0:
        for link in soup.find_all('a', href=True):
            next_url = link['href']
            if not next_url.startswith('http'):
                next_url = requests.compat.urljoin(url, next_url)
            
            webdir(next_url, depth - 1, indent + 2)

In [11]:
webdir('https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Winter2020/FinalPractice2.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Winter2020/FinalPractice2.html
  https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Winter2020/FinalPractice2.py
  https://d2l.depaul.edu
  https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Winter2020/test.zip
  https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Winter2020/lists.html
  https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Winter2020/lists.html
  https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Winter2020/frankenstein.txt

<h1><font color='#004b87'> Question 8</font></h1>

Write SQL queries on the below database table that return:

In [ ]:
%sql
CREATE TABLE WeatherData (
    City VARCHAR(50),
    Country VARCHAR(50),
    Season VARCHAR(20),
    Temperature DECIMAL(4,1),
    Rainfall DECIMAL(5,1)
);

INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES
('Mumbai', 'India', 'Winter', 24.8, 5.9),
('Mumbai', 'India', 'Spring', 28.4, 16.2),
('Mumbai', 'India', 'Summer', 27.9, 1549.4),
('Mumbai', 'India', 'Fall', 27.6, 346.0),
('London', 'United Kingdom', 'Winter', 4.2, 207.7),
('London', 'United Kingdom', 'Spring', 8.3, 169.6),
('London', 'United Kingdom', 'Summer', 15.7, 157.0),
('London', 'United Kingdom', 'Fall', 10.4, 218.5),
('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

a) All the temperature data.

In [ ]:
%sql
SELECT Temperature
FROM WeatherData;

Temperature
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

b) All the cities, but without repetition.

In [ ]:
%sql
SELECT DISTINCT City
FROM WeatherData;

City
Cairo
London
Mumbai

c) All the records for India.

In [ ]:
%sql
SELECT *
FROM WeatherData
WHERE Country = 'India';

City,Country,Season,Temperature,Rainfall
Mumbai,India,Winter,24.8,5.9
Mumbai,India,Spring,28.4,16.2
Mumbai,India,Summer,27.9,1549.4
Mumbai,India,Fall,27.6,346.0

d) All the Fall records

In [ ]:
%sql
SELECT *
FROM WeatherData
WHERE Season = 'Fall';

City,Country,Season,Temperature,Rainfall
Mumbai,India,Fall,27.6,346.0
London,United Kingdom,Fall,10.4,218.5
Cairo,Egypt,Fall,22.2,4.5

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [ ]:
%sql
SELECT City, Country, Season
FROM WeatherData
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400;

City,Country,Season
London,United Kingdom,Winter
Mumbai,India,Fall
London,United Kingdom,Fall

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [ ]:
%sql
SELECT City, Country, AVG(Temperature) AS AvgTemperature
FROM WeatherData
WHERE Season = 'Fall'
GROUP BY City, Country
HAVING AvgTemperature > 20
ORDER BY AvgTemperature ASC;

City,Country,AvgTemperature
Cairo,Egypt,22.20000
Mumbai,India,27.60000

g) The total annual rainfall for Cairo.

In [ ]:
%sql
SELECT SUM(Rainfall) AS TotalAnnualRainfall
FROM WeatherData
WHERE City = 'Cairo';

TotalAnnualRainfall
27.6

h) The total rainfall for each season

In [ ]:
%sql
SELECT Season, SUM(Rainfall) AS TotalRainfall
FROM WeatherData
GROUP BY Season;

Season,TotalRainfall
Spring,192.3
Summer,1706.5
Fall,569.0
Winter,230.1

<h1><font color='#004b87'> Question 9</font></h1>

Suppose list words is defined as follows:

```python
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
```

Write list comprehension expressions that use list words and generate the following
lists:
```markdown

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], 
['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
```

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
words_in_uppercase = [word.upper() for word in words]
words_in_uppercase

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [ ]:
words_in_lowercase = [word.lower() for word in words]
words_in_lowercase

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
word_upper_lower_length = [[word.upper(), word.lower(), len(word)] for word in words]
word_upper_lower_length

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [ ]:
word_with_len_greater_than_4 = [word for word in words if len(word) >= 4]
word_with_len_greater_than_4

['quick', 'brown', 'jumps', 'over', 'lazy']